name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-check:
    runs-on: ubuntu-latest

    steps:
      - name: Pobranie kodu (Checkout)
        uses: actions/checkout@v4

      - name: Instalacja Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Instalacja zależności
        run: npm install

      - name: Sprawdzenie poprawności budowania (Build)
        run: npm run build